* {
	font-family: arial, sans-serif;
}

body {
	font-family: arial, sans-serif;
	height: 100%;
	width:100%;
	margin: 0px;
	padding: 0px;
}

.app {
	height: 100%;
	width:100%;
}

#topcontainer {vertical-align: top;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
	pointer-events: none;
}

#betterplace {
	text-align: center;
	border: 0;
	position: relative;
	top: 0;
	left: 0;
	float: left;
	z-index: 500;
	max-width: 35%;
	display: none;
	padding: 10px;
	background-color: rgba(255,255,255,0.8);
	pointer-events: all;
}
	
#betterplace a {
	color: black;
	text-decoration: none;
}

#betterplace span {
	font-weight: bold;
	color: rgb(56, 181, 173);
}

#update {
	color:black;
	font-weight: bold;
	font-size: 14px;
	position:relative;
	top:20px;
	left:10px;
	float: left;
	padding: 5px 10px;
	text-align: center;
	height: auto;
	z-index: 900;
	background-color: rgba(56, 181, 173, 0.8);
	border-radius: 5px;
}

#update:hover, #update:focus {
	background-color: rgba(56, 181, 173, 1);
}

#map { 
	position:absolute;
	top:0px;
	left:0px;
	width: 100vw; 
	height: 100vh; 
	z-index: 0;
}

#UI_container {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 25em;
	height: 40%;
	z-index: 900;
	vertical-align: bottom;
	pointer-events: none;
}

.custom-select {
	font-family: arial, sans-serif;
	color:black;
	font-weight: bold;
	font-size: 14px;
	width: 15em;
	height: auto;
	display: inline-block;
	background-color: rgba(56, 181, 173, 0.8);
	border-radius: 8px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	border: 1px solid transparent;
	position: absolute;
	bottom: 20px;
	margin-left: 20px;
	pointer-events: auto;
}

.custom-select:hover, .custom-select:focus {
	background-color: rgba(56, 181, 173, 1);
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	bottom: 0px;
	width: 100%;
}

.select-selected:after {
	position: absolute;
	content: "▲";
	right: 10px;
	width: auto;
	height: 0;
	border-left: thin solid white;
	padding-left: 10px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	content: "▼"
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	cursor: pointer;
	user-select: none;
}

.select-items {
	position: absolute;
	bottom: 100%;
	width: 100%;
	border-radius: 8px;
	background-color: rgba(56, 181, 173, 0.8);
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	border: 1px solid transparent;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	border-radius: 8px;
	background-color: rgba(56, 181, 173, 1);
}

.arrow {
	margin-left: 15px;
	padding-left: 5px;
	border-left: 1px solid #577;	
}

#explanation{
	padding: 10px;
	font-family: arial, sans-serif;
	color:black;
	cursor: pointer; 
}

#map-info{
	padding: 10px;
	font-family: arial, sans-serif;
	color:black;
}

#legendcontainer {
	display: inline-block;
	width: 10em;
	height: 100%;
	background-color: rgba(255,255,255,0.8);
}

.legend {
	font-family: arial, sans-serif;
	color:black;
	font-size: 15px;
	position: absolute;
	bottom: 0px;
	height: 100%;
}

#legend_Official_AQI_US{width: 10em; height: auto; padding:10px;}

.legend-inner {
	position: absolute;
	left: 30px;
	bottom: 20px;
	pointer-events: none;
	height: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.legend-inner .gradient {
	opacity: 1;
	width: 20px;
	position: relative;
}

.legend-inner .labels {
	width: 10em;
	position: relative;
}

.legend-inner .labels .label {
	position: absolute;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}

.legend-inner .labels .label:before {
	content: '\2013   ';
}

#legend_PM10 .gradient {
	background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
	background: linear-gradient(to top, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
}

#legend_PM25 .gradient {
	background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
	background: linear-gradient(to top, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
}

#legend_Temperature .gradient {
	background: -webkit-linear-gradient(bottom, #0022FE 0%, #FFFFFF 30%, #FF0000 100%);
	background: linear-gradient(to top, #0022FE 0%, #FFFFFF 30%, #FF0000 100%);
}

#legend_Humidity .gradient {
	background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #0000FF 100%);
	background: linear-gradient(to top, #FFFFFF 0%, #0000FF 100%);
}

#legend_Pressure .gradient {
	background: -webkit-linear-gradient(bottom, #dd2e97 0%,#6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
	background: linear-gradient(to top, #dd2e97 0%,#6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
}

#legend_Official_AQI_US span {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
}

#legend_Official_AQI_US ul {
	padding: 0;
	margin: 5px 10px;
	list-style-type: none;
}


li {
	display: list-item;
	text-align: -webkit-match-parent;
	pointer-events: auto;
}


.tooltip {
	text-decoration:none;
	position:relative;
    cursor:pointer;
}

.tooltip div {
	display:none;
	pointer-events: auto;
}

.tooltip:hover div {
	display:block;
	position:fixed;
	overflow:hidden;
	background-color: rgba(56, 181, 173, 1);
	z-index:1000;
}

.tooltip-div {
	padding: 5px;
	border-radius: 5px;
	width:auto;
	max-width: 500px;
	height:auto;
}

ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.leaflet-pane > svg .d3-overlay path {
	cursor:help;
	pointer-events: all;
}


img.leaflet-tile {
	filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
	-webkit-filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
}


table {
	font-family: arial, sans-serif;
	font-size: 15px;
	width: 30vw;
	border: 1px solid #000;
	border-collapse: collapse;
	background:transparent;
}

td {
	background-color:transparent;
	height: 15px;
	text-align: center;
	padding-right: 5px;
	border-width: 1px 1px 0px 1px;
	border-style: solid;
}

th {
	background-color: transparent;
	height: 15px;
	font-weight: bold;
	border: 1px solid #000;
}

tr {
	background-color: transparent;
	font-weight: bold;
	border: 1px solid #000;
}


.idsens {
	cursor: pointer;
}

#table {
/*	position: absolute; */
	text-align: center;
	padding: 8px;
	margin-top: 10px;
	font-weight:bold;
	font-family: arial, sans-serif;
	color:black;
	font-size: 15px;
	pointer-events: all;
	border-radius:2px;
	max-height: 90vh;
}

.hexbin-hexagon {
	stroke-width:0px;
}


#menu{
	background-color: rgba(56, 181, 173, 1);
	color: white;
	font-size: 30px;
	border: none;
	cursor: pointer; 
	top:0px;
	right:0px;
	position: absolute;
	z-index: 1200;
	padding: 5px 10px;
}

#menu:hover, #menu:focus{
	background-color: rgba(56, 181, 173, 1);
}

#sidebar{
	position:absolute;
	top:0px;
	right:0px;
	height: 100vh;
	width: 400px;
	max-width:100%;
	display:none;
	z-index: 1000;
	background-color: rgba(250,250,250,0.8);
	overflow-y: auto;
}

#close {
	padding: 10px;
	font-size: 120%;
	color:black;
	cursor: pointer;
	pointer-events: all;
	display: inline-block;
}

.leaflet-control {
	margin-top: 110px !important;
}
