body { height: 100%;
    width:100%;
        }    

.app {
	height: 100%;
	width:100%;
}

#map { 
        position:absolute;
        top:0px;
        left:0px;
        width: 100vw; 
        height: 100vh; 
        z-index: 0;
        }    

#update{
        font-family: arial, sans-serif;
        color:black;
        font-weight: bold;
        font-size: 14px;
        position:absolute;
        top:20px;
        left:100px;
        width: 350px;
        text-align: center;
        height: auto;
        z-index: 1000;
        background-color: #3498DB;
      border-radius: 5px;
}

#update:hover, #update:focus{
    background-color: #2980B9;
}

.tooltip-div{
    padding: 5px;
    border-radius: 5px;
    width:auto;
    max-width: 500px;
    height:auto;
}

.custom-select {
    font-family: arial, sans-serif;
    color:black;
    font-weight: bold;
    font-size: 14px;
    position:absolute;
    top:40px;
    left:500px;
    width: 200px;
    height: auto;
    z-index: 1000;
    background:#3498DB;
    border-radius: 8px;
    border: 0px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #3498DB;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #3498DB;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;    
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;   
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #2980B9;
}



#erklaerung{
    padding: 10px;
    font-family: arial, sans-serif;
    color:black;
    cursor: pointer; 
    z-index: 1000;
}

#map-info{
    padding: 10px;
    font-family: arial, sans-serif;
    color:black;
}

.legend {
    font-family: arial, sans-serif;
    color:black;
    font-size: 15px; 
    position: absolute;
    left: 20px;
    bottom: 0px;
    height: 40%;
    width: 250px; 
    z-index: 999;
    background-color: rgba(238,238,238,0.0);
    }


#legendpm{visibility: visible}
#legendpm2{visibility: hidden}
#legendaqius{visibility: hidden}
#legendtemp{visibility: hidden}
#legendhumi{visibility: hidden}
#legenddruck{visibility: hidden}


#legend-inner-pm {
        position: absolute;
        left: 30px;
        bottom: 20px;
        z-index: 1001;
        pointer-events: none;    
        height: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        }

#legend-inner-pm .gradient {
        opacity: 0.8;
        width: 20px;
        background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
        background: linear-gradient(to top, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
        position: relative;
        }

#legend-inner-pm .labels {
        width: 150px;
        position: relative;
        }

#legend-inner-pm .labels .label {
        position: absolute;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        }

#legend-inner-pm .labels .label:before {
        content: '\2013   ';
        }


#legend-inner-pm2 {
        position: absolute;
        left: 30px;
        bottom: 20px;
        z-index: 1001;
        pointer-events: none;    
        height: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        }

#legend-inner-pm2 .gradient {
        opacity: 0.8;
        width: 20px;
        background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
        background: linear-gradient(to top, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
        position: relative;
        }


#legend-inner-pm2 .labels {
        width: 150px;
        position: relative;
        }

#legend-inner-pm2 .labels .label {
        position: absolute;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        }

#legend-inner-pm2 .labels .label:before {
        content: '\2013   ';
        }



#legend-inner-temp {
        position: absolute;
        left: 30px;
        bottom: 20px;
        z-index: 1001;
        pointer-events: none;
        height: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        }

#legend-inner-temp .gradient {
        opacity: 0.8;
        width: 20px;
        background: -webkit-linear-gradient(bottom, #0022FE 0%, #FFFFFF 30%, #FF0000 100%);
        background: linear-gradient(to top, #0022FE 0%, #FFFFFF 30%, #FF0000 100%);
        position: relative;
        }

#legend-inner-temp .labels {
        width: 150px;
        position: relative;
        }

#legend-inner-temp .labels .label {
        position: absolute;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        }

#legend-inner-temp .labels .label:before {
        content: '\2013   ';
        }
        

#legend-inner-humi {
        position: absolute;
        left: 30px;
        bottom: 20px;
        z-index: 1001;
        pointer-events: none;
        height: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        }

#legend-inner-humi .gradient {
        opacity: 0.8;
        width: 20px;
        background: -webkit-linear-gradient(bottom, #FFFFFF 0%, #0000FF 100%);
        background: linear-gradient(to top, #FFFFFF 0%, #0000FF 100%);
        position: relative;
        }

#legend-inner-humi .labels {
        width: 150px;
        position: relative;
        }

#legend-inner-humi .labels .label {
        position: absolute;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        }


#legend-inner-humi .labels .label:before {
        content: '\2013   ';
        }



#legend-inner-druck {
        position: absolute;
        left: 30px;
        bottom: 20px;
        z-index: 1001;
        pointer-events: none;
        height: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        }

#legend-inner-druck .gradient {
        opacity: 0.8;
        width: 20px;
        background: -webkit-linear-gradient(bottom, #dd2e97 0%,#6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
        background: linear-gradient(to top, #dd2e97 0%,#6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
        position: relative;
        }


#legend-inner-druck .labels {
        width: 150px;
        position: relative;
        }

#legend-inner-druck .labels .label {
        position: absolute;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
        }


#legend-inner-druck .labels .label:before {
        content: '\2013   ';
        }


#legendaqius span {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

#legendaqius ul {
    padding: 0;
    margin: 5px 10px;
    list-style-type: none;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}



.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip div {
    display:none;
}
.tooltip:hover div {
    display:block;
    position:fixed;
    overflow:hidden;
    background-color: #3498DB;
    z-index:1000;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.leaflet-pane > svg .d3-overlay path{
    cursor:help;
             pointer-events: all;}



img.leaflet-tile{
             filter:  grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
            -webkit-filter:    grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);      }      


table{
        font-family: arial, sans-serif;
        font-size: 15px;
        width: 30vw;
        border: 1px solid #000;
		border-collapse: collapse;
        background:transparent;

        }

td{
        background-color:transparent;
        height: 15px;
        text-align: center;
        padding-right: 5px;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
        }

th{
        background-color: transparent;
        height: 15px;
        font-weight: bold;
        border: 1px solid #000;
        }

tr{
        background-color: transparent;
        font-weight: bold;
        border: 1px solid #000;
        }



.idsens{
  cursor: pointer;     
}

#table {
    position: absolute;
    text-align: center;
    padding: 8px;
    margin-top: -20px;
    font-weight:bold;
    font-family: arial, sans-serif;
    color:black;
    font-size: 15px;    
    pointer-events: all;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: rgb(250,250,250,0.5);
    border-radius:2px;
    z-index: 1000;    
    max-height: 90vh;
    top:10vh;
    overflow-y: auto;
}

.hexbin-hexagon{
    stroke-width:0px;
}


#menu{
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer; 
    top:0px;
    right:0px;
    position: absolute;
    z-index: 1000;
}

#menu:hover, #menu:focus{
    background-color: #2980B9;
}

#sidebar{
    position:absolute;
    top:0px;
    right:0px;
    height: 100vh;
    width: 400px;
    max-width:400px;
    display:none;
    z-index: 999;  
    background-color: rgb(250,250,250,0.5);
    overflow-y: auto;    
}